<!DOCTYPE html>
<br><br><br>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.split {
  height: 100%;
  
  position: fixed;
  z-index: 1;
  top: 2;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
    width: 20%;
  left: 0;
}

/* Control the right side */
.right {
    width: 80%;
  right: 0;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}
.chatperson{
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 4px;
}
.chatperson:hover{
  text-decoration: none;
  border-bottom: 1px solid orange;
}
.namechat {
    display: inline-block;
    vertical-align: middle;
}
.chatperson .chatimg img{
  width: 40px;
  height: 40px;
  background-image: url('http://i.imgur.com/JqEuJ6t.png');
}
.chatperson .pname{
  font-size: 18px;
  padding-left: 5px;
}
.chatperson .lastmsg{
  font-size: 12px;
  padding-left: 5px;
  color: #ccc;
}

.container {
    border: 2px solid #dedede;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
</style>
</head>
<body>
    <div class="split left">
    <div class="ui segment">
    <p>Mailbox</p>
    <div class="ui list">
        <div class="item">
            <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
            <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <div class="chatperson .pname">
            <%= link_to recipient.name,   conversation_messages_path(conversation)%> <br>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
</div>
<div class="split right">
<% if @over_ten %>
<%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="ui segment">
    <head> Start of Conversation </head>
    

    <% @messages.each do |message| %>
    <% if message.body %>
    <% user = User.find(message.user_id) %>
    <%  if user==current_user %>
    <div class="container darker">
       <div class="right"><strong><%= user.name %></strong> </div> 
       <%= message.body %>
       <span class="time-right"><%=message.message_time %>     </span>
   </div>
<% else %>
<div class="container">
  <div class="left"><strong><%= user.name %></strong> </div> 
  <%= message.body %>
  <span class="time-right"><%=message.message_time %>     </span>
</div>
</div>
<% end %>
<% end %>
<% end %>
<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
<div class="field">
    <%= f.text_area :body, class: "form-control" %>
</div>
<%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
<div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
</div>
<% end %>
</div>

</body>
</html>