<head>	
	<%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'%>
  <%= csrf_meta_tags %>
</head>


<body style=" background-repeat: no-repeat; background-size:cover; background-image: url('https://www.sfu.ca/content/sfu/hire/recruit-with-career-services/jcr:content/main_content/textimage/image.img.1280.high.jpg/1384284236302.jpg');">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=190497201438224&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
	<h1>Welcome to StuddyBuddy! </h1>
</div>
	<!-- Message for wrong email password combination-->
	<!-- fix to move flash notice elsewhere -->
	<% if flash[:notice] %>
    <div class="notice" style="color:red"><%= flash[:notice] %></div>
  	<% end %>



	<!--Login Form -->
	<div class="container" style="width: 20em; background-color: rgba(255,255,255,0.65); padding: 1em; border-radius: 20px;">
		<h2 style="color:#343a40; text-align: center;"> Sign In </h2>
		<br>
		<%= form_for(:session, url: login_path) do |f| %>
     	<%= f.label :email, class:"sr-only" %>
     	<%= f.email_field :email, class: 'form-control', placeholder: "Email Address" %>

     	<%= f.label :password, class:"sr-only" %>
     	<%= f.password_field :password, class: 'form-control', placeholder:"Password" %>

     	<%= f.submit "Log in", class: "btn btn-primary btn-primary btn-block" %>
    <% end %>


	<!--Link to Signup form -->
    <p style="text-align: center; color: #343a40; "> New user? <%= link_to "Sign up now!", signup_path %></p>
  <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
</body>