<!-- Sign Up Form-->

<h2>Sign Up<h2>
      <p> 	
      <% if flash[:notice] %>
      <div class="notice" style="color:red"><%= flash[:notice] %></div>
      <% end %>	
      <p>							
	<%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <br>	
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>

