
<style>
	.img {
		border-radius: 50%;
	}
	.jumbo-bg {
		background-color: rgba(85, 88, 90, 0.2);
	}
	.jumbo-bg .header {
		text-align: center;
	}
	.jumbo-bg .header .img {
		border-radius: 50%;
	}
	.jumbo-bg .header .header-info {
		vertical-align: bottom;
	}
	.availability {
		position: relative;
		border-left: 5px solid #A6192E;
		background-color: rgba(85, 88, 90, 0.2);
		padding: 5px;
		margin: 5px;
	}
	}
</style>

<br><br><br>

<!--<h3>User <%= @user.id %> </h3> -->
<head>
	<%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
 	<%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
 	<%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'%>
 	<%= csrf_meta_tags %>
</head>



<div class="jumbotron jumbotron-fluid jumbo-bg">
	<div class="container">
		<div class="header"
		<br>
			<img src="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png">
			<h4 class="header-info"><%= @user.name %> </h4>
			<h4 class="header-info"><%= @user.email %> </h4>
		</div>
	</div>
</div>


<div class="container" style="border: solid black 1px; box-shadow: 5px 5px 5px 5px #D3D3D3;">
	<h4>Description:</h4>
	<p> <%=  @user.availability %> </p>
</div>

<br>
<div class="container">
	<% if current_user.id == @user.id %>
 	<p style="float: right"><%= link_to 'Edit profile', edit_user_path(current_user)%></p>
 	<% end %>
</div>
