<!--<h1>Welcome to StuddyBuddy</h1>-->

<head> Study Posts </head>

<style>
	.bg {
		background-color: #54585a;
		background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
		background-repeat: repeat-x repeat-y;
		/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	}
	
	.search {
		display: inline-block;
	}

	.createNew {
		display: inline-block;
		float: right;
	}

	.thread {
		align-content: center;
	}
	
	.studypost {
		position: relative;
		border-left: 5px solid #A6192E;
		background-color: rgba(85, 88, 90, 0.2);
		padding: 5px;
		margin: 3px;
	}
	
	.studypost .course {
		font-weight: bold; 
		color: #A6192E;
		text-transform: uppercase;
		display: inline-block;
		margin-left: 5px;
		margin-top: auto;
		margin-bottom: auto;
	}
	
	.studypost .content {
		padding-left: 8px;
	}
	
	.studypost .user {
		color: black;
		display: inline-block;
		float: right;
		margin-right: 5px;
		
	}
	
	.studypost .button {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 15px 15px 0;
	}
</style>



<br><br><br><br>

<!-- search function -->
<div class="container">
	<div class="search">
	<%= form_tag(posts_path, method: :get) do %>
	<%= label_tag(:course, "Search by course:") %>
	<%= text_field_tag :course, params[:course] %>
	<%= submit_tag 'Filter', name: nil%>
	<% end %>
	</div>
	<!-- link to create a post -->
	<div class="createNew">
	<%= link_to 'Create New Post', new_post_path %>
	</div>
</div>
<hr>

<!-- list of posts -->
<div class="container">
	<div class="thread">
		<% @posts.each do |m| %>
			<div class="container">
				<div class="studypost">
					<h5 class="course"><%= m.course %></h5>
					<p class="user"><%= m.user %></p>
					<hr>
					<br>
					<p class="content"><%= m.content %></p>
					<br>
					<div class="button">
					<%= button_to "Reply", conversations_path(sender_id: current_user.id, recipient_id: User.find_by(email: m.user)) %>
					</div>
				</div>
			</div>
			<br>
		<% end %>
	</div>
</div>

<br><br>
