<!DOCTYPE html>
<html>
<head>
  <title>StudyBuddy</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'%>
  <%= csrf_meta_tags %>
</head>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#" style="color:#800020; text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; font-size: 25px;"><strong>StudyBuddy</strong></a>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->

      <!--<div class="collapse navbar-collapse" id="navbar">-->
        <ul class="navbar-nav ml-auto">
          <li>
        	<a class="nav-link" href="<%= link_to "Home", posts_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
      <!--</div>-->
    </nav>

<body>

<%= yield %>

</body>

<!--<footer>
	<p><strong>Current User</strong>: <%= @current_user.name if current_user%>(Blank if no one is logged in. You can also remove this line in views/layouts/application.html.erb)</p>
</footer>-->


<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" style="height:30px;">
	<p class="nav-item" style="color: LightGray; height:7px;"><em>Current User: <%= @current_user.name if current_user%>(Blank if no one is logged in. You can also remove this line in views/layouts/application.html.erb)</em></p>
</nav>
</html>
