<!--<h1>Welcome to StuddyBuddy</h1>-->

<head> Study Posts </head>

<br><br><br>

<div class="container" style>
	<%= form_tag(posts_path, method: :get) do %>
	  <%= label_tag(:course, "Search by course:") %>
	  <%= text_field_tag :course, params[:course] %>
	  <%= submit_tag 'Filter', name: nil %>
	<% end %>

	<%= link_to 'Create New Post', new_post_path %>
</div>

<div class="container">
	<% @posts.each do |m| %>
	  <hr>
	  <h4 class="text-uppercase"><%= m.course %></h4>
	  <p><%= m.content %></p>
	  <br>
	  <p style="color:gray"><%= m.user %></p>
	<% end %>
</div>