<h1>Welcome to StuddyBuddy</h1>

<%= form_tag(posts_path, method: :get) do %>
  <%= label_tag(:course, "Course:") %>
  <%= text_field_tag :course, params[:course] %>
  <%= submit_tag 'Filter', name: nil %>
<% end %>

<% @posts.each do |m| %>
  <h3><%= m.user %></h3>
  <h4><%= m.course %></h4>
  <p><%= m.content %></p>
<% end %>